In [1]:
import pandas as pd
import datetime
date = str(datetime.datetime.today()).split()[0].replace("-","")

In [2]:
import requests

url = "https://api.anywhereportfolio.com.ar/AuthToken/AuthToken?nombreUsuario=tcragonzalez&password=Geneve223"

payload={}
headers = {}

response = requests.request("POST", url, headers=headers, data=payload)

print(response.text)
token = response.text.split("\"")
token = token[-2]
print(token)

{"Status":"OK","Code":"200","Value":"0eoWprwY96Y5Q9f8mu+8b3z56LEQFIzfaLexW/5zHzs="}
0eoWprwY96Y5Q9f8mu+8b3z56LEQFIzfaLexW/5zHzs=

In [3]:
url = f"https://api.anywhereportfolio.com.ar/PreTrade/SecurityList?securityExchange=OTC"

payload={}
headers = {
'Authorization': f'Token {token}'
}

response = requests.request("GET", url, headers=headers, data=payload)

dfa = response.json()
df = pd.DataFrame(dfa.get("Value"))

In [4]:
df = pd.DataFrame(df.SecListGrp[0])

In [5]:
df

,Currency,Instrument,InstrmtLegSecListGrp
0,ARS,"[{'Symbol': 'FXARSEUR', 'SecurityID': 'FXARSEU...",[{'LegSecurityID': 'FXARSEUR'}]
1,USD,"[{'Symbol': 'FXUSDEUR', 'SecurityID': 'FXUSDEU...",[{'LegSecurityID': 'FXUSDEUR'}]
2,USD,"[{'Symbol': 'OTC - SOJ.ROS/MAY23', 'SecurityID...",[{'LegSecurityID': 'OTC - SOJ.ROS/MAY23'}]
3,ARS,"[{'Symbol': 'FXARSUSD', 'SecurityID': 'FXARSUS...",[{'LegSecurityID': 'FXARSUSD'}]
4,ARS,"[{'Symbol': '%YFP160500005', 'SecurityID': '%Y...",[{'LegSecurityID': '%YFP160500005'}]
5,ARS,"[{'Symbol': 'pruebaAvalInvo', 'SecurityID': 'p...",[{'LegSecurityID': 'pruebaAvalInvo'}]
6,USD,"[{'Symbol': 'OTC - MAI.ROS/JUL23', 'SecurityID...",[{'LegSecurityID': 'OTC - MAI.ROS/JUL23'}]
7,USD,"[{'Symbol': 'OTC - SOJ.ROS/MAY23 412 C', 'Secu...",[{'LegSecurityID': 'OTC - SOJ.ROS/MAY23 412 C'}]
8,ARS,"[{'Symbol': 'FXARSBRL', 'SecurityID': 'FXARSBR...",[{'LegSecurityID': 'FXARSBRL'}]

In [6]:
def flatten_nested_json_df(df):

    df = df.reset_index()

    print(f"original shape: {df.shape}")
    print(f"original columns: {df.columns}")


    # search for columns to explode/flatten
    s = (df.applymap(type) == list).all()
    list_columns = s[s].index.tolist()

    s = (df.applymap(type) == dict).all()
    dict_columns = s[s].index.tolist()

    print(f"lists: {list_columns}, dicts: {dict_columns}")
    while len(list_columns) > 0 or len(dict_columns) > 0:
        new_columns = []

        for col in dict_columns:
            print(f"flattening: {col}")
            # explode dictionaries horizontally, adding new columns
            horiz_exploded = pd.json_normalize(df[col]).add_prefix(f'{col}.')
            horiz_exploded.index = df.index
            df = pd.concat([df, horiz_exploded], axis=1).drop(columns=[col])
            new_columns.extend(horiz_exploded.columns) # inplace

        for col in list_columns:
            print(f"exploding: {col}")
            # explode lists vertically, adding new columns
            df = df.drop(columns=[col]).join(df[col].explode().to_frame())
            new_columns.append(col)

        # check if there are still dict o list fields to flatten
        s = (df[new_columns].applymap(type) == list).all()
        list_columns = s[s].index.tolist()

        s = (df[new_columns].applymap(type) == dict).all()
        dict_columns = s[s].index.tolist()

        print(f"lists: {list_columns}, dicts: {dict_columns}")

    print(f"final shape: {df.shape}")
    print(f"final columns: {df.columns}")
    return df

# %%
flat = flatten_nested_json_df(df)

original shape: (9, 4)
original columns: Index(['index', 'Currency', 'Instrument', 'InstrmtLegSecListGrp'], dtype='object')
lists: ['Instrument', 'InstrmtLegSecListGrp'], dicts: []
exploding: Instrument
exploding: InstrmtLegSecListGrp
lists: [], dicts: ['Instrument', 'InstrmtLegSecListGrp']
flattening: Instrument
flattening: InstrmtLegSecListGrp
lists: [], dicts: []
final shape: (9, 14)
final columns: Index(['index', 'Currency', 'Instrument.Symbol', 'Instrument.SecurityID',
       'Instrument.SecurityIDSource', 'Instrument.CFICode',
       'Instrument.SecurityType', 'Instrument.SecurityExchange',
       'Instrument.SecurityStatus', 'Instrument.UnitOfMeasureQty',
       'Instrument.UnitOfMeasure', 'Instrument.SecurityGroup',
       'Instrument.SettlMethod', 'InstrmtLegSecListGrp.LegSecurityID'],
      dtype='object')

In [7]:
flat = flat[(flat["Instrument.Symbol"].str.contains("OTC")) & (flat["Instrument.SecurityType"] != "Opciones OTC")]

In [8]:
flat["Instrumento"] = flat["Instrument.Symbol"].str.split().str[2]

In [11]:
flat.to_excel("APIBO_OTC.xlsx")

In [15]:
flat

,index,Currency,Instrument.Symbol,Instrument.SecurityID,Instrument.SecurityIDSource,Instrument.CFICode,Instrument.SecurityType,Instrument.SecurityExchange,Instrument.SecurityStatus,Instrument.UnitOfMeasureQty,Instrument.UnitOfMeasure,Instrument.SecurityGroup,Instrument.SettlMethod,InstrmtLegSecListGrp.LegSecurityID,Instrumento
6,6,USD,OTC - SOJ.ROS/MAY23,OTC - SOJ.ROS/MAY23,,FCXXNN,NDF OTC,OTC,1,100,tt,SOJ OTC,C,OTC - SOJ.ROS/MAY23,SOJ.ROS/MAY23
7,7,USD,OTC - MAI.ROS/JUL23,OTC - MAI.ROS/JUL23,,FCXXNN,NDF OTC,OTC,1,100,tt,MAI OTC,C,OTC - MAI.ROS/JUL23,MAI.ROS/JUL23

In [163]:
sad = flat

In [164]:
url = f"https://api.anywhereportfolio.com.ar/PosTrade/MarketData?mdEntryType=6&ClearingBusinessDate=20230330&Symbol=OTC%20-%20SOJ.ROS%2FMAY23"

payload={}
headers = {
'Authorization': f'Token {token}'
}

response = requests.request("GET", url, headers=headers, data=payload)

mai = response.json()
ajustmai = pd.DataFrame(mai.get("Value"))
ajustmai = flatten_nested_json_df(ajustmai)

original shape: (1, 5)
original columns: Index(['index', 'MarketDepth', 'ClearingBusinessDate', 'MarketID',
       'Instrument'],
      dtype='object')
lists: ['Instrument'], dicts: []
exploding: Instrument
lists: [], dicts: ['Instrument']
flattening: Instrument
lists: ['Instrument.MDFullGrp'], dicts: []
exploding: Instrument.MDFullGrp
lists: [], dicts: ['Instrument.MDFullGrp']
flattening: Instrument.MDFullGrp
lists: [], dicts: []
final shape: (1, 14)
final columns: Index(['index', 'MarketDepth', 'ClearingBusinessDate', 'MarketID',
       'Instrument.Symbol', 'Instrument.SecurityIDSource',
       'Instrument.SecurityGroup', 'Instrument.CFICode',
       'Instrument.SecurityType', 'Instrument.MDFullGrp.MDEntryType',
       'Instrument.MDFullGrp.MDEntryPx', 'Instrument.MDFullGrp.MDEntryDate',
       'Instrument.MDFullGrp.MDEntryTime', 'Instrument.MDFullGrp.Currency'],
      dtype='object')

In [165]:
ajustmai =ajustmai[["Instrument.Symbol","Instrument.MDFullGrp.MDEntryPx"]]

In [166]:
ajustmai

     Instrument.Symbol  Instrument.MDFullGrp.MDEntryPx
0  OTC - SOJ.ROS/MAY23                           368.5

In [167]:
url = f"https://api.anywhereportfolio.com.ar/PosTrade/MarketData?mdEntryType=6&ClearingBusinessDate=20230330&Symbol=OTC%20-%20MAI.ROS%2FJUL23"

payload={}
headers = {
'Authorization': f'Token {token}'
}

response = requests.request("GET", url, headers=headers, data=payload)

dfa = response.json()
ajustsoj = pd.DataFrame(dfa.get("Value"))
ajustsoj = flatten_nested_json_df(ajustsoj)

original shape: (1, 5)
original columns: Index(['index', 'MarketDepth', 'ClearingBusinessDate', 'MarketID',
       'Instrument'],
      dtype='object')
lists: ['Instrument'], dicts: []
exploding: Instrument
lists: [], dicts: ['Instrument']
flattening: Instrument
lists: ['Instrument.MDFullGrp'], dicts: []
exploding: Instrument.MDFullGrp
lists: [], dicts: ['Instrument.MDFullGrp']
flattening: Instrument.MDFullGrp
lists: [], dicts: []
final shape: (1, 14)
final columns: Index(['index', 'MarketDepth', 'ClearingBusinessDate', 'MarketID',
       'Instrument.Symbol', 'Instrument.SecurityIDSource',
       'Instrument.SecurityGroup', 'Instrument.CFICode',
       'Instrument.SecurityType', 'Instrument.MDFullGrp.MDEntryType',
       'Instrument.MDFullGrp.MDEntryPx', 'Instrument.MDFullGrp.MDEntryDate',
       'Instrument.MDFullGrp.MDEntryTime', 'Instrument.MDFullGrp.Currency'],
      dtype='object')

In [168]:
ajustsoj = ajustsoj[["Instrument.Symbol","Instrument.MDFullGrp.MDEntryPx"]]
ajustsoj

     Instrument.Symbol  Instrument.MDFullGrp.MDEntryPx
0  OTC - MAI.ROS/JUL23                           222.0

In [169]:
ajustes = pd.concat([ajustmai,ajustsoj])

In [170]:
ajustes

     Instrument.Symbol  Instrument.MDFullGrp.MDEntryPx
0  OTC - SOJ.ROS/MAY23                           368.5
0  OTC - MAI.ROS/JUL23                           222.0

In [171]:
ajusflat = flatten_nested_json_df(ajust)

original shape: (1, 5)
original columns: Index(['index', 'MarketDepth', 'ClearingBusinessDate', 'MarketID',
       'Instrument'],
      dtype='object')
lists: ['Instrument'], dicts: []
exploding: Instrument
lists: [], dicts: ['Instrument']
flattening: Instrument
lists: ['Instrument.MDFullGrp'], dicts: []
exploding: Instrument.MDFullGrp
lists: [], dicts: ['Instrument.MDFullGrp']
flattening: Instrument.MDFullGrp
lists: [], dicts: []
final shape: (1, 14)
final columns: Index(['index', 'MarketDepth', 'ClearingBusinessDate', 'MarketID',
       'Instrument.Symbol', 'Instrument.SecurityIDSource',
       'Instrument.SecurityGroup', 'Instrument.CFICode',
       'Instrument.SecurityType', 'Instrument.MDFullGrp.MDEntryType',
       'Instrument.MDFullGrp.MDEntryPx', 'Instrument.MDFullGrp.MDEntryDate',
       'Instrument.MDFullGrp.MDEntryTime', 'Instrument.MDFullGrp.Currency'],
      dtype='object')

In [172]:
mairosjul = ajusflat

In [173]:
flato = flat[['Currency', 'Instrument.Symbol', 'Instrument.SecurityExchange',
       'Instrument.SecurityStatus', 'Instrument.UnitOfMeasureQty',
       'Instrument.UnitOfMeasure']]

In [174]:
flato = flato[['Instrument.Symbol', 'Instrument.SecurityExchange',
       'Instrument.SecurityStatus', 'Instrument.UnitOfMeasureQty',
       'Instrument.UnitOfMeasure']]

In [175]:
otro = flato[["Instrument.Symbol",'Instrument.SecurityExchange',
       'Instrument.SecurityStatus', 'Instrument.UnitOfMeasureQty',
       'Instrument.UnitOfMeasure', ]]

In [176]:
flat = otro.iloc[:,1:]

In [177]:
otro

,Instrument.Symbol,Instrument.SecurityExchange,Instrument.SecurityStatus,Instrument.UnitOfMeasureQty,Instrument.UnitOfMeasure
4,OTC - MAI.ROS/JUL23,OTC,1,100,tt
6,OTC - SOJ.ROS/MAY23,OTC,1,100,tt

In [178]:
flat = sad.merge(ajustes,on="Instrument.Symbol",how="left")

In [179]:
flat = flat[['Currency', 'Instrument.Symbol', 'Instrument.SecurityExchange',
       'Instrumento', 'Instrument.MDFullGrp.MDEntryPx']]

In [182]:
flat = flat.rename(columns={'Instrument.Symbol':"Posicion OTC",
       'Instrumento':"Futuro", 'Instrument.MDFullGrp.MDEntryPx':"Precio"})

In [183]:
flat = flat[["Posicion OTC","Futuro","Precio"]]

In [185]:
flat

          Posicion OTC         Futuro  Precio
0  OTC - MAI.ROS/JUL23  MAI.ROS/JUL23   222.0
1  OTC - SOJ.ROS/MAY23  SOJ.ROS/MAY23   368.5

In [194]:
flat.to_excel("OTC 31-03-2023.xlsx",index=False)

deberiamsop: hacer que se busque el dia habil inmerdiantamente anterior al dia d ela fecha
que se busquen todos los otc
que se busquen los precios de todos los otc y luego se unan

In [192]:
test = flat.to_string().replace("\n"," ")

In [193]:
test

'          Posicion OTC         Futuro  Precio 0  OTC - MAI.ROS/JUL23  MAI.ROS/JUL23   222.0 1  OTC - SOJ.ROS/MAY23  SOJ.ROS/MAY23   368.5'

In [195]:
token = "xoxb-25914778016-5021904796054-f24qrxBUbGfoa2Elu2mEkrXs"
import slack
import requests
import json
import time
import os
from slack_sdk import WebClient 
from slack_sdk.errors import SlackApiError 
client = slack.WebClient(token=token)

from selenium import webdriver
import time
import pyautogui as pg
from email.mime.message import MIMEMessage
import email
from smtplib import SMTP
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from pretty_html_table import build_table
from email.header import decode_header
from email.message import EmailMessage
from datetime import datetime
import smtplib
import time
import datetime
import pyperclip as pc
    


response = client.files_upload(
    channels="#acyrsa-rpa-controles",
    file="OTC 31-03-2023.xlsx",
    initial_comment=test
)

C:\Users\aggonzalez\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\slack_sdk\web\internal_utils.py:450: UserWarning: client.files_upload() may cause some issues like timeouts for relatively large files. Our latest recommendation is to use client.files_upload_v2(), which is mostly compatible and much stabler, instead.
  warnings.warn(message)

In [1]:
import pandas as pd

In [2]:
import pyodbc
#cnxn = pyodbc.connect('DRIVER={SQL Server};Server=SRVBIROS02;Database=Acsa_Riesgo_DataWarehouse;Port=1433;User ID=usrReportingDatawarehouse;Password=8bWAY48c.2023')

cnxn_str = ("Driver={SQL Server};"
            "Server=SRVBIROS02,1433;"
            "Database=Acsa_Riesgo_DataWarehouse;"
            "UID=usrReportingDatawarehouse;"
            "PWD=8bWAY48c.2023;")
cnxn = pyodbc.connect(cnxn_str)

query = '''declare @fecha date = cast(getdate()-1 as date);
           With contratosOTC as (select *
                                  from Compensacion.SimulacionContrato OTC
                                  where otc.Fecha= @fecha and OTC.TipoContratoID in (23,24)),
           ultimos as (select ContratoID, fecha, MAX(timestamp) TS from Compensacion.MovimientoPrecio
                       where Fecha= @fecha
                       group by ContratoID, Fecha)
           select otc.ContratoID, otc.ContratoDescripcion, mp.PrecioAjuste
           from Compensacion.MovimientoPrecio mp
           inner join contratosOTC otc ON mp.Fecha = otc.fecha and otc.ContratoID = mp.ContratoID
           inner join ultimos u on u.Fecha = mp.Fecha and u.ContratoID = mp.ContratoID and u.TS = mp.TimeStamp
           order by mp.ContratoID'''

# Ejecutar la consulta y almacenar los resultados en un dataframe
df = pd.read_sql(query, cnxn)


# Imprimir el dataframe resultante

C:\Users\aggonzalez\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [17]:
import pyodbc
#cnxn = pyodbc.connect('DRIVER={SQL Server};Server=SRVBIROS02;Database=Acsa_Riesgo_DataWarehouse;Port=1433;User ID=usrReportingDatawarehouse;Password=8bWAY48c.2023')

cnxn_str = ("Driver={SQL Server};"
            "Server=SRVBIROS02,1433;"
            "Database=Acsa_Riesgo_DataWarehouse;"
            "UID=usrReportingDatawarehouse;"
            "PWD=8bWAY48c.2023;")
cnxn = pyodbc.connect(cnxn_str)

query = '''declare @fecha date
select @fecha = MAX(Fecha)  from Compensacion.SimulacionContrato
;With contratosOTC as (select *
from Compensacion.SimulacionContrato  OTC
	where otc.Fecha= @fecha and OTC.TipoContratoID in (23,24)
),
ultimos as (
select ContratoID, fecha, MAX(timestamp) TS from Compensacion.MovimientoPrecio
where Fecha= @fecha
group by ContratoID, Fecha
)
select otc.ContratoID, otc.ContratoDescripcion, mp.PrecioAjuste
from Compensacion.MovimientoPrecio mp
inner join contratosOTC otc ON mp.Fecha = otc.fecha and otc.ContratoID = mp.ContratoID
inner join ultimos u on u.Fecha = mp.Fecha and u.ContratoID = mp.ContratoID and u.TS = mp.TimeStamp
order by mp.ContratoID'''

# Ejecutar la consulta y almacenar los resultados en un dataframe
df = pd.read_sql(query, cnxn)


# Imprimir el dataframe resultante

C:\Users\aggonzalez\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [18]:
df

   ContratoID        ContratoDescripcion  PrecioAjuste
0       51028        OTC - MAI.ROS/ABR23    250.000000
1       53709        OTC - SOJ.ROS/MAY23    370.000000
2       53739        OTC - MAI.ROS/JUL23    226.000000
3       53801  OTC - SOJ.ROS/MAY23 412 C      0.113491

In [3]:
df["Futuro"] = df["ContratoDescripcion"].str.split().str[2]

In [4]:
df = df.rename(columns={"ContratoDescripcion":"Posición OTC", "PrecioAjuste":"Precio"})

In [5]:
otcdw = df[['Posición OTC','Futuro','Precio']]

In [6]:
otcdw = otcdw[otcdw.Precio > 20]

In [7]:
otcdw

Empty DataFrame
Columns: [Posición OTC, Futuro, Precio]
Index: []

In [211]:
otcdw.to_excel("OTC_DW 21-3-2023.xlsx", index = False)

In [212]:
token = "xoxb-25914778016-5021904796054-f24qrxBUbGfoa2Elu2mEkrXs"
import slack
import requests
import json
import time
import os
from slack_sdk import WebClient 
from slack_sdk.errors import SlackApiError 
client = slack.WebClient(token=token)

from selenium import webdriver
import time
import pyautogui as pg
from email.mime.message import MIMEMessage
import email
from smtplib import SMTP
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart
from pretty_html_table import build_table
from email.header import decode_header
from email.message import EmailMessage
from datetime import datetime
import smtplib
import time
import datetime
import pyperclip as pc
    


response = client.files_upload(
    channels="#acyrsa-rpa-controles",
    file="OTC_DW 21-3-2023.xlsx",
    initial_comment= "Test"
)

C:\Users\aggonzalez\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\slack_sdk\web\internal_utils.py:450: UserWarning: client.files_upload() may cause some issues like timeouts for relatively large files. Our latest recommendation is to use client.files_upload_v2(), which is mostly compatible and much stabler, instead.
  warnings.warn(message)